<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prince.moment.mapper.MomentMapper">

    <select id="search" resultType="com.prince.moment.entity.dto.MomentDTO">
        select * from moment m
                 left join moment_detail md on m.id = md.moment_id
                 where m.title like "%"#{keyword}"%" order by create_time desc
        <if test="count != null and count != 0">
            limit #{count}
        </if>
    </select>
</mapper>