<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prince.moment.mapper.PortfolioMapper">

    <delete id="delCatalogsByPortfolioIds" parameterType="list">
        delete from portfolio_catalog where portfolio_id in
        <foreach collection="ids" item="id" separator=",">
            ( #{id} )
        </foreach>
    </delete>
    <delete id="delCatalogByPortfolioId">
        delete from portfolio_catalog where portfolio_id = #{id}
    </delete>
    <select id="search" resultType="com.prince.moment.entity.po.Portfolio">
        select id,name,user_id,type,image,description,at_top,create_time,update_time
        from portfolio
        where name like "%"#{keyword}"%" order by create_time desc
        <if test="count != null and count != 0">
            limit #{count}
        </if>

    </select>

</mapper>