<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prince.admin.mapper.RoleMapper">

    <resultMap id="queryList" type="com.prince.admin.entity.po.Role">
        <id property="rid" column="rid"/>
        <result property="roleName" column="role_name"/>
        <result property="description" column="description"/>
        <result property="level" column="level"/>
        <collection property="permissions" column="pid" ofType="com.prince.admin.entity.po.Permission">
            <id property="pid" column="pid"/>
            <id property="menuId" column="menu_id"/>
            <id property="url" column="url"/>
            <id property="matchingWay" column="matching_way"/>
            <id property="method" column="method"/>
        </collection>
    </resultMap>

    <select id="queryListByMatchingWay" resultMap="queryList" parameterType="Integer">
        select
        r.rid, role_name, r.description, level, pid, menu_id,url, matching_way, method
        from sys_role r
        left join sys_role_permission rp on rp.role_id = r.rid
        left join sys_permission p on rp.permission_id = p.pid
        <where>
            matching_way = #{way}
        </where>
    </select>

    <insert id="authorize" parameterType="java.lang.Long">
        insert into sys_role_permission(role_id, permission_id) values
        <foreach collection="ids" item="permission" separator=",">
            (#{roleId}, #{permission})
        </foreach>
    </insert>
    <insert id="access" parameterType="java.lang.Long">
        insert into sys_role_menu(role_id, menu_id) values
        <foreach collection="ids" item="mid" separator=",">
            (#{roleId}, #{mid})
        </foreach>
    </insert>
    <delete id="delRoleMenuByRoleId">
        delete from sys_role_menu where role_id = #{id};
    </delete>
    <delete id="delRolePermissionByRoleId">
        delete from sys_role_permission where role_id = #{id};
    </delete>

    <select id="queryRolePermissions" parameterType="java.lang.Long" resultType="java.lang.Long">
        select permission_id
        from sys_role_permission
        where role_id = #{roleId}
    </select>

    <select id="queryRoleMenus" parameterType="java.lang.Long" resultType="java.lang.Long">
        select menu_id
        from sys_role_menu
        where role_id = #{roleId}
    </select>
</mapper>